<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
<script>
    var username=document.getElementById('username').innerText;
    console.log(username);
    </script>

        <h1>hello</h1>
        <h2 id="username"><%=username%></h2>
    </body>
</html>